body {
    background: linear-gradient(0.25turn, #fae5e500, #060404);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

img .github-icon {
    max-width: 10%;
}

#input_bar {
    margin: 10px 0 10px 0;
    width: 300px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
}

.seach-button {
    cursor: pointer;
}

.follow-icon,
.seach_button {
    font-size: 20px;
}

.profile_data,
.user_info,
.repositories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_avatar,
.user_info,
.followers,
.repository {
    margin-top: 10px;
}
.user_avatar {
    width: 50%;
    height: 50%;
    border-radius: 120px;
}

/*REPOSITORIES SECTION*/

.repository {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
}
a {
    color: #060404;
}

.repository:hover {
    background-color: #808080;
}
